<%- include('partials/header.ejs') -%>

  <main id="main">
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Events</h2>
        <p>Skillupstand - Break your limits and enhance your skills with skillupstand</p>
      </div>
    </div>
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <% for(var i = 0; i < events.length; i++) { %>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="<%= events[i].image %>" alt="<%= events[i].name %>">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href=""><%= events[i].name %></a></h5>
                <p class="font-italic text-center"><%= events[i].date %></p>
                <p class="card-text"><%= events[i].description %></p>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>
  </main>

  <%- include('partials/footer.ejs') -%>